DB_URL=jdbc:postgresql://localhost:5432/cloudkeep
DB_USERNAME=username
DB_PASSWORD=password

JWT_SECRET=your-jwt-secret

MAILJET_API_KEY=your-mailjet-api-key
MAILJET_API_SECRET=your-mailjet-api-secret
